In [5]:
from chinese_calendar import is_workday, is_holiday
import pandas as pd

In [2]:
data_path = '../../data/'

In [3]:
tti = pd.read_csv(data_path + 'train_TTI.csv')
tti['time'] = pd.to_datetime(tti['time'])
tti.head()

   id_road      TTI    speed                time
0   276183  1.03472  69.6197 2019-01-01 00:00:00
1   276183  1.03506  69.6275 2019-01-01 00:10:00
2   276183  1.04166  69.1003 2019-01-01 00:20:00
3   276183  1.02642  70.1266 2019-01-01 00:30:00
4   276183  1.01442  70.9565 2019-01-01 00:40:00

In [4]:
tti['time'] = pd.to_datetime(tti['time'])

In [6]:
tti['holiday'] = tti['time'].apply(is_holiday)
tti.head()

   id_road      TTI    speed                time  holiday
0   276183  1.03472  69.6197 2019-01-01 00:00:00     True
1   276183  1.03506  69.6275 2019-01-01 00:10:00     True
2   276183  1.04166  69.1003 2019-01-01 00:20:00     True
3   276183  1.02642  70.1266 2019-01-01 00:30:00     True
4   276183  1.01442  70.9565 2019-01-01 00:40:00     True

In [7]:
tti[['time', 'holiday']].to_csv(data_path+'day_info.csv', index=False)

In [8]:
tti.tail()

        id_road      TTI    speed                time  holiday
296193   276738  1.44719  28.3267 2019-12-21 23:10:00     True
296194   276738  1.35854  30.1750 2019-12-21 23:20:00     True
296195   276738  1.37941  29.7186 2019-12-21 23:30:00     True
296196   276738  1.21284  33.7999 2019-12-21 23:40:00     True
296197   276738  1.21629  33.7043 2019-12-21 23:50:00     True